* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
}

input {
  margin-bottom: 15px;
  height: 30px;
  text-indent: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

textArea {
  margin-bottom: 15px;
  border: 1px solid #444;
  border-radius: 5px;
  display: block;
}

.nenad {
  display: flex;
}

label {
  margin-top: 9px;
  margin-left: 9px;
}

#favColor {
  margin-left: 20px;
}
